
/* nav item  */
.container{
    max-width: 1280px;
    margin:auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.search-parent{
    position: relative;
    color: #bababa;

}
.search-parent input{
    background-color: rgb(241,241,241);
    border-radius: 66px;
    padding:15px 30px;
    width: 500px;
    border: none;
}
.search-parent i{
    position:absolute;
    top: 17px;
    right: 20px;
}
.nav-item{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-item li a{
    text-decoration: none;
    color: #707070;
    font-weight: 500;
    font-size: 16px;
}
/* container */

