*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* nav item  */
.container{
    max-width: 1280px;
    margin:auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
.search-parent{
    position: relative;
    color: #bababa;

}
.search-parent input{
    background-color: rgb(241,241,241);
    border-radius: 66px;
    padding:15px 30px;
    width: 500px;
    border: none;
}
.search-parent i{
    position:absolute;
    top: 17px;
    right: 20px;
}
.nav-item{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-item li a{
    text-decoration: none;
    color: #707070;
    font-weight: 600;
    font-size: 16px;
}
/* banner section */
.banner{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
}
.banner h1{
    font-weight: bold;
    font-size: 56px;
    color:#1F1F1F;
}
.banner p{
    color: #4E4E4E;
}
.price{
    color: #FF136F;
    font-weight: 500;
    font-size: 41px;
    margin-bottom:0;
    display: block;
}
.panda-btn{
    background:linear-gradient(#FF589B);
    border-radius: 6px;
    padding: 20px 35px;
    font-weight: 500;
    border: none;
    color: white;
}
.banner img{
    width: 402px;
    height: 378px;
}

/* category */
.category{
    margin: 64px 0;
}
.box-1{
    background:linear-gradient(#FF9C35) ;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    
    

}
.box-2{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(#C92525);
    flex: 1;
    
}
.box-3{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    background: linear-gradient(#3F07F8);
   
   
}
.box-1 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
    
   
}
.box-card {
    display: flex;
    gap: 26px;
    width: 100%;
    flex:1 ;
    
}
.box-card img{
    width: 68px;
    height: 90px;
}



